.crudEmpleados-main {
  display: grid;
  grid-template-areas: "sidebar lista";
  grid-template-columns: 1fr 5fr;
  background-image: linear-gradient(rgba(5, 7, 12, 0.6), rgba(5, 7, 12, 0.6)),
    url(../images/crud_empleado.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 85vh;
}
.empleado-options {
  color: #fff;
  background: rgba(5, 7, 12, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.actual-list {
  width: 85%;
  margin-bottom: 50px;
}
.actual-list-none {
  display: none;
}
.div-list,
.div-list-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.div-list-dark {
  background: rgba(0, 0, 0, 0.7);
}
.div-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  width: -webkit-fill-available;
  height: 80%;
}
@media (max-width: 1000px) {
  .crudEmpleados-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .empleado-options {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0;
  }
  .description {
    margin: 0px 25px;
  }
  .options-btns {
    margin-right: 15px;
  }
  .div-list {
    width: 100%;
  }
  .div-background {
    height: 71%;
    align-items: flex-start;
  }
}
@media (max-width: 580px) {
  .empleado-options {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0;
  }
  .empleado-options h2,
  p {
    font-size: 0.7em;
  }
  .empleado-options h2 {
    font-size: 0.8em;
  }
  .empleado-manage-btn {
    font-size: smaller;
    width: fit-content;
    height: fit-content;
    padding: 10px 5px;
  }
  .div-background {
    height: 68%;
  }
}
