.main-container {
  height: 50vh;
  width: 50vh;
  background: #e1cbcbdb;
  padding: 10px 200px 100px 50px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
}
.form-fields input {
  width: 250px;
  margin-right: 20px;
}
.submit-btn {
  border-radius: 20px;
}
