.main-container {
  height: 50vh;
  width: 70%;
  background: #e1cbcbdb;
  padding: 10px 50px 100px 50px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.form-fields {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-fields input {
  width: 90%;
  margin-right: 20px;
}

.form-div {
  display: flex;
  flex-direction: column;
}
.submit-btn {
  border-radius: 5px;
  background-color: var(--primary-color);
  width: 120px;
  padding: 10px;
  text-align: center;
  align-self: flex-end;
  justify-content: flex-end;
  margin-right: 50px;
  cursor: pointer;
}
.submit-btn:hover {
  background: #93cda1;
}
.password-field {
  margin-right: 0;
}
.password-field-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 45px;
}
.see {
  cursor: pointer;
}

.closebtn {
  background-color: rgb(188, 195, 195);
  border-radius: 15px;
  width: 30px;
  cursor: pointer;
  align-self: flex-end;
}
.closebtn:hover {
  background-color: rgb(188, 81, 81);
  color: white;
  font-weight: bold;
}
