@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
:root {
  --primary-color: #596f62;
  --secondary-color: #2e434d;
  --third-color: #7ea16b;
  --fourth-color: #70161e;
  --error: #e61c1c;
  --accept: #2ad233;
}

body {
  margin: 0;
  font-family: "Francois One";
}

header {
  background: var(--primary-color);
}
